// Colors
$background: #EFEFEF;

$white: #FFFFFF;
$turquoise: #32AA7B;
$blue: #30456B;
$dark-blue: #21305A;
$light-blue: #DEE7EE;
$grey: #747578;
$dark-grey: #312F2F;
$light-grey: #BDBDBD;
$black: #20211F;
