<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trello like app">
    <meta name="author" content="Freddy Guitton">

    <title>Wk Board</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>

  <body>
    <div id="root">
      <%= render @view_module, @view_template, assigns %>
    </div> <!-- /root -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
