.BoardContent {
  display: flex;
  align-items: stretch;
  overflow-x: scroll;
  height: calc(100vh - 6.5rem); // Navbar are 3.25rem each
  padding: 1rem 0 1rem 1rem; // padding right to 0, decks will have margin right to 1rem
}
