.Card {
  padding: 1rem;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.0);
  &:hover {
    border: 1px solid #999;
    cursor: pointer;
  }
  &.isDragging {
    background-color: #999;
    > * {
      visibility: hidden;
    }
  }
}
